<header>
  <i id="menu" class="bars pi pi-bars ml-3"></i>
  <img class="logo" src="assets/images/angular.png" alt="">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/books">Books</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      <li><a routerLink="/charts">Charts</a></li>
      <li><a routerLink="/form">Form</a></li>
    </ul>
  </nav>

  <div class="mobile-nav">
    <i id="close-nav" class="pi pi-times"></i>
    <div class="row p-2">
      <div class="link_nav col-12">
        <a routerLink="/">Home</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/books">Books</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/movies">Movies</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/charts">Charts</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/form">Form</a>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
