<header>
  <i id="menu" class="bars pi pi-bars ml-3"></i>
  <img class="logo" src="assets/images/angular.png" alt="">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="/charts" routerLinkActive="active">Charts</a></li>
      <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
      <li><a routerLink="/parent" routerLinkActive="active">Parent</a></li>
      <li><a routerLink="/scraping" routerLinkActive="active">Scraping</a></li>
    </ul>
  </nav>

  <div class="mobile-nav">
    <i id="close-nav" class="pi pi-times"></i>
    <div class="row p-2">
      <div class="link_nav col-12">
        <a routerLink="/">Home</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/books">Books</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/movies">Movies</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/charts">Charts</a>
      </div>
      <div class="link_nav col-12">
        <a routerLink="/form">Form</a>
      </div>
    </div>
  </div>
</header>

<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>